body {
  background-color: #F8EDE3;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 7%;
}

h1 {
  color: #596E79;
}

h3 {
  color: #596E79;
}

img {
  width 180px;
}
